<script src="//localhost:35729/livereload.js"></script>

<footer class="footer bg-faded">
<div class="container">
  <a class="navbar-brand" href="#">
    <h2 class="sass-example">Footer</h2>
  </a>
 </div>
</footer>